body {
  background-color: #F7F7F2 !important;
}

main {
    min-height: 86.95vh ;
    
}


.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 20px;
    margin-bottom: 30px;
    margin-top: 5rem;
  }
  
  .block-filtre {
    width: calc(22% - 30px);
    height: 80px;
    background-color: #ccc;
    margin-top: 15px;
    border-radius: 10px;

  }

  .liens-block {
    width: 100%;
  }

  .block-tendance {
    background-color: #0B9961;
  }
  .block-nouveautés {
    background-color: #5F4A4B;
  }

  .block-plateaux {
    background-color: #CC46C3;
  }

  .block-cartes {
    background-color: #2721AA;
  }

  .block-body {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    text-decoration: none;
  }

  .block-picture {
    width: 40%;
    display: flex;
    justify-content: center;
  }

  .block-content {
    color: #ccc;
    width: 60%;
    display: flex;
    justify-content: center;
  }


.card-games {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 20px;
  margin-bottom: 30px;
  margin-top: 30px;
}

.picture-card {
  height: 60%;
  display: flex;
  justify-content: center;
}

.container-card {
  height: 40%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.body-card {
  background-color: #FFFFFF;
  width: calc(25% - 30px);
  height: 250px;
  margin-top: 15px;
  border-radius: 10px;
}

.text-card {
  color: #101010;
}

@media (max-width: 900px) {
  .block-filtre {
    width: calc(50% - 10px);
    height: 100px;
  }

  .body-card {
    width: calc(50% - 10px);
  }
}

@media (max-width: 400px) {
  .block-filtre {
    width: calc(100% - 20px);
    height: 120px;
  }

  .body-card {
    width: calc(100% - 20px);
  }
}