h1 {
    font-size: 40px !important;
}

h2 {
    font-size: 35px !important;
}

h3 {
    font-size: 30px !important;
}

h4 {
    font-size: 25px !important;
}

p, a {
    font-size: 20px !important;
}

a {
    text-decoration: none;
}

body {
    background-color: #F7F7F2 !important;
}
  
main {
      min-height: 88.85vh ;
}